@import "tailwindcss";

@theme {
  --breakpoint-container-lg: 1280px;
  --breakpoint-container-sm: 800px;
  --color-ant-gold: #ba9554;
  --color-deep-navy: #081d2c;
  --color-pure-white: #ffffff;
  --color-saudi-green: #006c35;
  --color-soft-gray: #6c757d;
  --color-dark-navy: #1f324a;
}

@utility custom-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@utility container-lg {
  @apply custom-container max-w-(--breakpoint-container-lg);
}

@utility container-sm {
  @apply custom-container max-w-(--breakpoint-container-sm);
}
